body {
    margin: 0;
    background: #4C1D95;
}

.container {
    display: flex;
    justify-content: space-around;
    background: #4C1D95;
}

.score {
    background: #0a0001;
    font-size: 90px;
    color: #F94F6D;
    width: 120px;
    margin: 20px;
    border-radius: 15px;
    border: 2px solid;
}

h2 {
    text-align: center;
}

h3{
    text-align: center;
    color: white;
}

button{
    background: #111827;
    color: white;
    border-radius: 5px;
    margin-left: 9px;
    border: 2px solid #F94F6D
}
